.clip {
  clip-path: polygon(100% 0%, 76% 50%, 100% 100%, 16% 99%, 0% 50%, 15% 0);
  width: 23rem;
  height: 100%;
  background-color: black;
}

.clip1 {
  clip-path: polygon(84% 1%, 100% 50%, 82% 100%, 0% 100%, 21% 50%, 0% 0%);
  width: 23rem;
  height: 100%;
  background-color: black;
}

.clip3 {
  clip-path: polygon(0 0, 100% 0, 18% 100%, 0 100%);
  background: #f3f1f1;
  width: 120px;
}

.clip3 {
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  width: 12rem;
  background-color: #000;
  color: #b9e3fc;
}

/* .menu div {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s;
    z-index: -1;
} */

/* .menu:focus-within div {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
} */

#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #c0f6fd98;
}

.swiper-slide {
  text-align: center;
  /* font-size: 18px; */
  background: #b9e3fc;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.firstGroup {
  font-family: "Madimi One", serif;
  font-weight: 400;
  font-style: normal;
}

.firstGroup p:nth-child(2) {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}